@import url('./__is_opened/popup__is_opened.css');

.popup{
    position: fixed;
    font-family: "Inter",Arial, sans-serif;
    display:none;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 330px;
    margin-top:195px;
    margin:auto;

    background-color: white;
    color:black;
}
