.popup {
  position: fixed;
  background-color: white;
  width: 430px;
  height: 330px;
  margin-top: 195px;
  border-radius: 10px;

}


@media screen and (max-width: 540px) {
  .popup {
    width: 282px;
    height: 322px;
  }
}
