.popup__input_type_name {
  height: 14px;
  width: 358px;
  border-radius: nullpx;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-top:54px;
  margin-left:36px;
  margin-right:36px;

}
