.popup__input_type_name {
  height: 14px;
  width: 358px;
  border-radius: nullpx;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-top: 54px;
  margin-left: 36px;
  margin-right: 36px;
  opacity: 0.2;
  border: none;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 320px) {
  .popup__input_type_name {
    width: 238px;
    height: 26px;
  }
}

