.popup__input_type_description {
  left: 461px;
  top: 363px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-top: 43px;
  margin-left: 36px;
  margin-right: 36px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 890px) {
  .popup__input_type_description {
    width: 238px;
    height: 26px;
  }
}
