.popup__input_type_description{
    height: 14px;
    width: 358px;
    left: 461px;
    top: 363px;
    border-radius: nullpx;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-top:43px;

}