.profile{
    width: 880px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top:40px;
    margin-bottom:50px;
}

@media screen and (min-width: 625px) and (max-width: 890px) {
    .profile {
      max-width: 500px;
    }
  }
  
  @media screen and (max-width: 625px) {
    .profile {
      max-width: 282px;
      width: 100%;
      flex-direction: column;
    }
  }