.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 126px;
    display: flex;
    align-items: center;
    padding-left: 27px;
    margin-bottom:32px;
  }
}
