.profile__add-button{
    width: 150px;
    height: 50px;
    
    background-color: transparent;
    background-image: url(../../../images/add_button.svg);
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    background-position: center;
    
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    cursor: pointer;
    transition: ease-in .3s opacity;
    margin-left: auto;
}

@media screen and (max-width: 320px) {
    .profile__add-button {
        margin:auto;
        width: 282px;
    }
  }