.profile__edit-button {
  width: 24px;
  height: 24px;
  grid-area: edit;
  display: block;
  background-image: url(../../../../images/edit.svg);
  background-color: transparent;
  border: 1px solid #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  border-color: #fff;
  margin-top: 15px;
 
  box-sizing: border-box;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;

}

@media screen and (max-width: 890px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
