.profile__title{
   grid-area: title;
   margin:0;
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 42px;
   line-height: 48px; 
   color: #FFFFFF;
   height: 39px;
   margin-bottom:16px;
}

@media screen and (max-width: 625px) {
   .profile__title {
     max-width: 196px;
     font-size: 22px;
    margin-left:48px;
   }
 }