.popup__title {
  text-align: left;
  width: 330px;
  height: 23px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 34px;
  margin-bottom: 0;
  margin-left: 36px;
  margin-right: 64px;
}
